{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Start Shopping</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>


        <!-- Footer -->
  <footer class="container-wrapper">
    <div class="container quotes-container content-container">
      <section class="footer">
       <div class="row">
         <div class="col-12 col-md-6 social-text">
           <h3>Social</h3>
           <p>Keep up to date with all our latest offers</p>
           <a href="https://www.facebook.com/Shop-Now-100310949307445" class="social-link" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook</a>
         </div>
       </div>
     </section>
   </div>
 </footer>
<!-- /.footer -->
{% endblock %}